@tailwind base;
@tailwind components;
@tailwind utilities;

   @font-face {
    font-family:'Primary';
    src:url('./assets/Fonts/Helvetica.woff2') format('woff2');
  }
  
  @font-face {
    font-family:'Secondary';
    src: url('./assets/Fonts/Secondary-Font.woff2') format('woff2');
  }
  
  @layer base {
    html, body {
        font-family:'Primary', sans-serif !important;
    }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
  }
}


body::-webkit-slider-thumb{
 display: none;
}

/* Custom Scrollbar for Textarea */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* For Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* For Edge and IE */
textarea {
  -ms-overflow-style: none;
}
textarea::-ms-scrollbar {
  width: 6px;
}
textarea::-ms-scrollbar-thumb {
  background-color:  transparent;
  border-radius: 10px;
}



/* CSS Boilerplate */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }


::selection{
  background: #000;
  color: whitesmoke;
}



  body {
    font-family: 'Primary', sans-serif;
    line-height: 1.6;
  }

  .scroll-container {
    -webkit-overflow-scrolling: touch; /* for smooth iOS scrolling */
    overflow-y: auto;
  }
  

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 8px solid black;
    -webkit-text-stroke-width: 2px;
  }
  

  
.cylinder-canvas {
  pointer-events: auto;
}

/* If you need to disable pointer events on specific elements */
.non-interactive {
  pointer-events: none;
}



.vertical_container::-webkit-scrollbar {
  display: none;
}

.vertical_container {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}












/* body { */
  /* cursor: none; */
/* } */



